<div class='container d-flex justify-content-center mt-5'>
  <span style="font-family: 'Gloria Hallelujah', cursive; font-size: 30px;">Share your spot</span>
</div>

<div class='container mt-5'>
  <div class='row'>
    <div class='col'>
      <div id='map' style='width: 600px; height: 400px'></div>

    </div>

    <div class='col'>
      <form action='/user/{{userLogined.name}}/create' method='POST'>
        <div class='row mb-3'>
          <label for='adress' class='col-sm-2 col-form-label'>Адрес</label>
          <div class='col-sm-10'>
            <input type='text' class='form-control' id='adress' name='adress' readonly />
          </div>
        </div>

        <div class='row mb-3'>
          <label for='inputPassword3' class='col-sm-2 col-form-label'>Название спота</label>
          <div class='col-sm-10'>
            <input type='text' class='form-control' id='inputPassword3' name='name' required />
          </div>
        </div>

        <div class='mb-3'>
          <label for='exampleFormControlTextarea1' class='form-label'>Описание</label>
          <textarea
            class='form-control'
            id='exampleFormControlTextarea1'
            rows='4'
            name='description'
            required
          ></textarea>
        </div>
        <input type='text' class='form-control' id='coords' style='display: none;' name='coords' />

        <button type='submit' class='btn btn-dark'>Поделиться</button>
      </form>
    </div>

  </div>
</div>

<script src='./js/maps.js'></script>
