<div class='container d-flex justify-content-center mt-5'>
  <span style="font-family: 'Gloria Hallelujah', cursive; font-size: 30px;">{{friend.username}}
    spots</span>
</div>
<div class='container d-flex justify-content-center mt-5'>
  <div id='map' style='width: 600px; height: 400px'></div>
</div>
<script defer src='/js/friendspots.js'></script>
