{{#if friends}}
  <div class='container d-flex justify-content-center mt-5'>
    {{#each friends}}
      <div class='card' style='width: 18rem;'>
        <img src='...' class='card-img-top' alt='...' />
        <div class='card-body'>
          <h5 class='card-title'>{{this.username}}</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the
            bulk of the card's content.</p>
          <a href='/spots/{{this.username}}' class='btn btn-primary'>Споты</a>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class='container d-flex justify-content-center mt-5'>
    <span style="font-family: 'Gloria Hallelujah', cursive; font-size: 30px;">Sorry,but Your have no
      frinds =(</span>
  </div>
{{/if}}
