<div class='container'>
  
  <img class="rounded mx-auto d-block" src='./logo/My spots.gif'/>


</div>

<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-3'>
      <div class="d-grid gap-2">
      <a href='/login' class='btn btn-light'>Войти</a>
      <a href='/signup' class='btn btn-dark'>Зарегистрироваться</a>
      </div>
      </div>
    </div>
</div>

</div>
